<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body id="home">
        <% practices.forEach(function (practice) { %>
            <%= practice.Name %> <!-- note you defined the field as Name not name -->
        <% }) %>
  
    </body>
</html>
